#### Creating a Tuple

In [3]:
Employees = ("Emp ID", "name", "age", "year of emploment", "nationality", "sex")

print(Employees)

('Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex')

In [5]:
# Converting tuple to list:
Employees = ("Emp ID", "name", "age", "year of emploment", "nationality", "sex")

Employees_conv = list(Employees)
print(type(Employees_conv))

<class 'list'>

In [6]:
print(Employees_conv)

['Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex']

In [13]:
# Adding items to the converted tuple:

Employees_conv.insert(101, "Lucie Abah")

print(Employees_conv)

['Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex', 'Lucie Abah', 'Lucie Abah']

In [14]:
# Converting list back to tuple:

Employees_conv = tuple(Employees)

print(type(Employees))

<class 'tuple'>

In [16]:
print(Employees)

('Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex')

In [1]:
Employees = ("Emp ID", "name", "age", "year of emploment", "nationality", "sex")

print(Employees)

('Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex')

In [2]:
# Converting tuple to list:

Employees_conv = list(Employees)
print(type(Employees_conv))

<class 'list'>

In [4]:
Employees_conv.extend([101, "Abah Nkiruka"])

print(Employees_conv)

['Emp ID', 'name', 'age', 'year of emploment', 'nationality', 'sex', 101, 'Abah Nkiruka']

In [5]:
# Converting list back to tuple:

Employees = tuple(Employees_conv)
print(type(Employees))

<class 'tuple'>